ultralight_iot_agent/nodered/flows.json
[
    {
        "id": "9ebad34e.d43948",
        "type": "tab",
        "label": "Context Provider",
        "disabled": false,
        "info": ""
    },
    {
        "id": "cea2dc7f.f67978",
        "type": "tab",
        "label": "Context Consumer",
        "disabled": false,
        "info": ""
    },
    {
        "id": "60f14d53.b26944",
        "type": "mqtt-broker",
        "z": "",
        "name": "test",
        "broker": "192.168.0.150",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "667c3043.5b2a38",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "7cc4fe11.0fec",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "38d44cfe.51f4c4",
        "type": "ui_group",
        "z": "",
        "name": "Current",
        "tab": "7cc4fe11.0fec",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a583cdd0.201ab8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "f716b934.102cc8",
        "type": "ui_group",
        "z": "",
        "name": "Voltage",
        "tab": "ca62fdd8.702d1",
        "order": 4,
        "disp": true,
        "width": 22,
        "collapse": false
    },
    {
        "id": "78c91e52.0cbf1",
        "type": "ui_group",
        "z": "",
        "name": "Control",
        "tab": "7cc4fe11.0fec",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a6117805.38b0d8",
        "type": "ui_group",
        "z": "",
        "name": "Voltage2",
        "tab": "7cc4fe11.0fec",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ca62fdd8.702d1",
        "type": "ui_tab",
        "z": "",
        "name": "ChartTab",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f5cc6906.500a38",
        "type": "ui_group",
        "z": "",
        "name": "Current",
        "tab": "ca62fdd8.702d1",
        "order": 2,
        "disp": true,
        "width": 22,
        "collapse": false
    },
    {
        "id": "baf275c7.46f9c8",
        "type": "mqtt out",
        "z": "9ebad34e.d43948",
        "name": "fiwareTasmota",
        "topic": "/4jggokgpepnvsb2uv4s40d59ov/tasmota001/attrs",
        "qos": "2",
        "retain": "true",
        "broker": "60f14d53.b26944",
        "x": 740,
        "y": 700,
        "wires": []
    },
    {
        "id": "7fe62963.6994a",
        "type": "http response",
        "z": "cea2dc7f.f67978",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 340,
        "y": 40,
        "wires": []
    },
    {
        "id": "9a83fe9f.580798",
        "type": "http in",
        "z": "cea2dc7f.f67978",
        "name": "",
        "url": "/notify",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 40,
        "wires": [
            [
                "7fe62963.6994a",
                "2f750b9c.a4dc24",
                "51c528ce.e5638",
                "7d661605.2b404",
                "f06ef05f.b7691",
                "c6778520.8595"
            ]
        ]
    },
    {
        "id": "30b5324.7fc894e",
        "type": "ui_button",
        "z": "cea2dc7f.f67978",
        "name": "",
        "group": "78c91e52.0cbf1",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "on",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 330,
        "y": 620,
        "wires": [
            [
                "e0dd3b84.5fe7b"
            ]
        ]
    },
    {
        "id": "2cdf991e.550eee",
        "type": "ui_gauge",
        "z": "cea2dc7f.f67978",
        "name": "",
        "group": "38d44cfe.51f4c4",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "Amperes",
        "format": "{{value}}",
        "min": 0,
        "max": "16",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 590,
        "y": 100,
        "wires": []
    },
    {
        "id": "98675fd4.896a2",
        "type": "ui_button",
        "z": "cea2dc7f.f67978",
        "name": "",
        "group": "78c91e52.0cbf1",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "off",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 330,
        "y": 680,
        "wires": [
            [
                "74aab0eb.f7349"
            ]
        ]
    },
    {
        "id": "e0dd3b84.5fe7b",
        "type": "function",
        "z": "cea2dc7f.f67978",
        "name": "@on",
        "func": "msg = {\n  'headers': {\n    'fiware-service': 'openiot',\n    'fiware-servicepath': '/',\n    'Content-Type': 'application/json'\n  },\n  'payload':{\n    \"actionType\": \"update\",\n    \"entities\": [\n        {\n            \"type\": \"Tasmota\",\n            \"id\": \"urn:ngsi-ld:Tasmota:001\",\n            \"on\" : {\n                \"type\": \"command\",\n                \"value\": \"on\"\n            }\n        }\n    ]\n  }\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 620,
        "wires": [
            [
                "c6f6a80f.184438"
            ]
        ]
    },
    {
        "id": "c6f6a80f.184438",
        "type": "http request",
        "z": "cea2dc7f.f67978",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": false,
        "url": "192.168.0.150:4041/v2/op/update",
        "tls": "",
        "proxy": "",
        "authType": "",
        "x": 650,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "74aab0eb.f7349",
        "type": "function",
        "z": "cea2dc7f.f67978",
        "name": "@off",
        "func": "msg = {\n  'headers': {\n    'fiware-service': 'openiot',\n    'fiware-servicepath': '/',\n    'Content-Type': 'application/json'\n  },\n  'payload':{\n    \"actionType\": \"update\",\n    \"entities\": [\n        {\n            \"type\": \"Tasmota\",\n            \"id\": \"urn:ngsi-ld:Tasmota:001\",\n            \"off\" : {\n                \"type\": \"command\",\n                \"value\": \"off\"\n            }\n        }\n    ]\n  }\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 680,
        "wires": [
            [
                "c6f6a80f.184438"
            ]
        ]
    },
    {
        "id": "96d7338e.bf73c",
        "type": "ui_text",
        "z": "cea2dc7f.f67978",
        "group": "78c91e52.0cbf1",
        "order": 1,
        "width": 6,
        "height": 2,
        "name": "",
        "label": "State",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 590,
        "y": 340,
        "wires": []
    },
    {
        "id": "2f750b9c.a4dc24",
        "type": "function",
        "z": "cea2dc7f.f67978",
        "name": "amperes",
        "func": "var amperes = msg.payload.data[0].amperes.value;\nmsg.payload = amperes;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 100,
        "wires": [
            [
                "2cdf991e.550eee"
            ]
        ]
    },
    {
        "id": "51c528ce.e5638",
        "type": "function",
        "z": "cea2dc7f.f67978",
        "name": "voltage",
        "func": "var voltage = msg.payload.data[0].voltage.value;\nvar instant = msg.payload.data[0].TimeInstant.value;\nmsg.payload =voltage;\nmsg.timestamp = instant;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 260,
        "wires": [
            [
                "c5e4f1da.358928"
            ]
        ]
    },
    {
        "id": "7d661605.2b404",
        "type": "function",
        "z": "cea2dc7f.f67978",
        "name": "state",
        "func": "var state = msg.payload.data[0].state.value;\nmsg.payload = state;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 340,
        "wires": [
            [
                "96d7338e.bf73c"
            ]
        ]
    },
    {
        "id": "472f15ef.20529c",
        "type": "mqtt in",
        "z": "9ebad34e.d43948",
        "name": "Fiware/cmd",
        "topic": "/4jggokgpepnvsb2uv4s40d59ov/tasmota001/cmd",
        "qos": "2",
        "datatype": "auto",
        "broker": "60f14d53.b26944",
        "x": 170,
        "y": 180,
        "wires": [
            [
                "ed5a640b.c1a3f8"
            ]
        ]
    },
    {
        "id": "83a52cb7.8a1cb",
        "type": "mqtt out",
        "z": "9ebad34e.d43948",
        "name": "TasmotaPower",
        "topic": "cmnd/tasmota_322D1E/POWER",
        "qos": "2",
        "retain": "",
        "broker": "60f14d53.b26944",
        "x": 560,
        "y": 180,
        "wires": []
    },
    {
        "id": "ed5a640b.c1a3f8",
        "type": "function",
        "z": "9ebad34e.d43948",
        "name": "splitCmnd",
        "func": "var options = msg.payload.split('|');\nmsg.payload = options[1].toUpperCase();\nglobal.set(\"state\",options[1].toUpperCase());\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 180,
        "wires": [
            [
                "83a52cb7.8a1cb"
            ]
        ]
    },
    {
        "id": "b830a253.e371a8",
        "type": "mqtt in",
        "z": "9ebad34e.d43948",
        "name": "TasmotaPower",
        "topic": "stat/tasmota_322D1E/POWER",
        "qos": "2",
        "datatype": "auto",
        "broker": "60f14d53.b26944",
        "x": 180,
        "y": 440,
        "wires": [
            [
                "cf98dcef.015718"
            ]
        ]
    },
    {
        "id": "57b31ac9.3ffa34",
        "type": "mqtt out",
        "z": "9ebad34e.d43948",
        "name": "TasmotaStatus",
        "topic": "cmnd/tasmota_322D1E/Status",
        "qos": "2",
        "retain": "",
        "broker": "60f14d53.b26944",
        "x": 780,
        "y": 440,
        "wires": []
    },
    {
        "id": "6888d617.362678",
        "type": "while-loop",
        "z": "9ebad34e.d43948",
        "name": "",
        "condi": "global.get(\"state\")== \"ON\"",
        "x": 470,
        "y": 440,
        "wires": [
            [],
            [
                "7b4f7a03.af08d4"
            ]
        ]
    },
    {
        "id": "83350ed2.1505c",
        "type": "delay",
        "z": "9ebad34e.d43948",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 520,
        "y": 560,
        "wires": [
            [
                "6888d617.362678",
                "e6c029e6.191738"
            ]
        ]
    },
    {
        "id": "7b4f7a03.af08d4",
        "type": "switch",
        "z": "9ebad34e.d43948",
        "name": "",
        "property": "state",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 370,
        "y": 560,
        "wires": [
            [
                "83350ed2.1505c"
            ]
        ]
    },
    {
        "id": "e6c029e6.191738",
        "type": "function",
        "z": "9ebad34e.d43948",
        "name": "StatusSNS",
        "func": "msg.payload = 8\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 750,
        "y": 560,
        "wires": [
            [
                "57b31ac9.3ffa34"
            ]
        ]
    },
    {
        "id": "34249ae1.f7c3f6",
        "type": "mqtt in",
        "z": "9ebad34e.d43948",
        "name": "TasmotaStatus",
        "topic": "stat/tasmota_322D1E/STATUS8",
        "qos": "2",
        "datatype": "auto",
        "broker": "60f14d53.b26944",
        "x": 180,
        "y": 700,
        "wires": [
            [
                "bcfda7e8.ff7b58"
            ]
        ]
    },
    {
        "id": "3cd01793.92d21",
        "type": "function",
        "z": "9ebad34e.d43948",
        "name": "StatusSNS",
        "func": "var status = global.get(\"state\");\nvar voltage = msg.payload.StatusSNS.ENERGY.Voltage;\nvar current = msg.payload.StatusSNS.ENERGY.Current;\n\nmsg.payload = \"v|\"+voltage+\"|a|\"+current+\"|s|\" + status;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 700,
        "wires": [
            [
                "baf275c7.46f9c8"
            ]
        ]
    },
    {
        "id": "bcfda7e8.ff7b58",
        "type": "json",
        "z": "9ebad34e.d43948",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 350,
        "y": 700,
        "wires": [
            [
                "3cd01793.92d21"
            ]
        ]
    },
    {
        "id": "c5e4f1da.358928",
        "type": "ui_chart",
        "z": "cea2dc7f.f67978",
        "name": "",
        "group": "f716b934.102cc8",
        "order": 1,
        "width": 22,
        "height": "6",
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 590,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "37d242f4.0da71e",
        "type": "ui_gauge",
        "z": "cea2dc7f.f67978",
        "name": "",
        "group": "a6117805.38b0d8",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "Volts",
        "format": "{{value}}",
        "min": 0,
        "max": "380",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 590,
        "y": 220,
        "wires": []
    },
    {
        "id": "f06ef05f.b7691",
        "type": "function",
        "z": "cea2dc7f.f67978",
        "name": "voltage",
        "func": "var voltage = msg.payload.data[0].voltage.value;\nmsg.payload = voltage;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 220,
        "wires": [
            [
                "37d242f4.0da71e"
            ]
        ]
    },
    {
        "id": "cf98dcef.015718",
        "type": "function",
        "z": "9ebad34e.d43948",
        "name": "status",
        "func": "global.set(\"state\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 380,
        "wires": [
            [
                "6888d617.362678"
            ]
        ]
    },
    {
        "id": "c1b2173a.a7df7",
        "type": "debug",
        "z": "9ebad34e.d43948",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 530,
        "y": 40,
        "wires": []
    },
    {
        "id": "af8501d3.6d41f",
        "type": "mqtt in",
        "z": "9ebad34e.d43948",
        "name": "",
        "topic": "/4jggokgpepnvsb2uv4s40d59ov/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "60f14d53.b26944",
        "x": 260,
        "y": 40,
        "wires": [
            [
                "c1b2173a.a7df7"
            ]
        ]
    },
    {
        "id": "c6778520.8595",
        "type": "function",
        "z": "cea2dc7f.f67978",
        "name": "amperesC",
        "func": "var amperes = msg.payload.data[0].amperes.value;\nvar instant = msg.payload.data[0].TimeInstant.value;\nmsg.payload = amperes;\nmsg.timestamp = instant;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 140,
        "wires": [
            [
                "835ef55.111fc88"
            ]
        ]
    },
    {
        "id": "835ef55.111fc88",
        "type": "ui_chart",
        "z": "cea2dc7f.f67978",
        "name": "current",
        "group": "f5cc6906.500a38",
        "order": 1,
        "width": "22",
        "height": "6",
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 600,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "fe92e5ac.6a49b",
        "type": "inject",
        "z": "cea2dc7f.f67978",
        "name": "startup",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 120,
        "y": 500,
        "wires": [
            [
                "3bd40bb2.34d574"
            ]
        ]
    },
    {
        "id": "3bd40bb2.34d574",
        "type": "function",
        "z": "cea2dc7f.f67978",
        "name": "@getLastStatus",
        "func": "msg = {\n  'headers': {\n    'fiware-service': 'openiot',\n    'fiware-servicepath': '/'\n  }\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 500,
        "wires": [
            [
                "b1ee7572.de674"
            ]
        ]
    },
    {
        "id": "b1ee7572.de674",
        "type": "http request",
        "z": "cea2dc7f.f67978",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "http://192.168.0.150:1026/v2/entities/urn:ngsi-ld:Tasmota:001/attrs/state/value",
        "tls": "",
        "proxy": "",
        "authType": "",
        "x": 490,
        "y": 500,
        "wires": [
            [
                "c07d9c84.b7512",
                "609ae79a.bb47f8"
            ]
        ]
    },
    {
        "id": "c07d9c84.b7512",
        "type": "debug",
        "z": "cea2dc7f.f67978",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 690,
        "y": 500,
        "wires": []
    },
    {
        "id": "609ae79a.bb47f8",
        "type": "switch",
        "z": "cea2dc7f.f67978",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OFF",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "OFF",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 150,
        "y": 660,
        "wires": [
            [
                "30b5324.7fc894e"
            ],
            [
                "98675fd4.896a2"
            ],
            []
        ]
    },
    {
        "id": "6bbea0a9.599bc8",
        "type": "comment",
        "z": "9ebad34e.d43948",
        "name": "Transfer command to Tasmota",
        "info": "asdf",
        "x": 230,
        "y": 140,
        "wires": []
    },
    {
        "id": "9dc86173.a19858",
        "type": "comment",
        "z": "9ebad34e.d43948",
        "name": "Transfer Tasmota Power status to Fiware",
        "info": "",
        "x": 260,
        "y": 660,
        "wires": []
    },
    {
        "id": "e85aef91.8d0de",
        "type": "comment",
        "z": "9ebad34e.d43948",
        "name": "Request Tasmota Power status",
        "info": "",
        "x": 230,
        "y": 340,
        "wires": []
    }
]
